<div class="basket-block">
  <div class="basket-block__list scroll-text">
    <div class="basket-block__item">
      <div class="basket-block__delete">x</div>
      <div class="basket-block__image">
        <img src="data/product-item-1.jpg" width="100" height="80" alt="">
      </div>
      <div class="basket-block__info">
        <div class="basket-block__title">
          <a href="#">Очень длинное название товара</a>
        </div>
        <div class="basket-block__article">Синий / 44 / Арт: 23534644</div>
        <div class="basket-block__quantity">
          <span>Кол-во:</span>
          <div class="product-quantity">
            <button class="product-quantity__button product-quantity__minus"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="1" viewBox="0 0 7 1"><rect  class="cls-1" width="7" height="1"/></svg></button>
            <input class="product-quantity__input" type="number" name="product-quantity" value="1" min="0" max="999" readonly>
            <button class="product-quantity__button product-quantity__plus"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7"><path d="M1308,350h7v1h-7v-1Zm3-3h1v7h-1v-7Z" transform="translate(-1308 -347)"/></svg></button>
          </div>
        </div>
        <div class="basket-block__price-box">
          <span>Сумма:</span>
          <div class="basket-block__current-price">3404.00 грн</div>
        </div>
      </div>
    </div>
    <div class="basket-block__item">
      <div class="basket-block__delete">x</div>
      <div class="basket-block__image">
        <img src="data/product-item-1.jpg" width="100" height="80" alt="">
      </div>
      <div class="basket-block__info">
        <div class="basket-block__title">
          <a href="#">Очень длинное название товара</a>
        </div>
        <div class="basket-block__article">Синий / 44 / Арт: 23534644</div>
        <div class="basket-block__quantity">
          <span>Кол-во:</span>
          <div class="product-quantity">
            <button class="product-quantity__button product-quantity__minus"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="1" viewBox="0 0 7 1"><rect  class="cls-1" width="7" height="1"/></svg></button>
            <input class="product-quantity__input" type="number" name="product-quantity" value="2" min="0" max="999" readonly>
            <button class="product-quantity__button product-quantity__plus"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7"><path d="M1308,350h7v1h-7v-1Zm3-3h1v7h-1v-7Z" transform="translate(-1308 -347)"/></svg></button>
          </div>
        </div>
        <div class="basket-block__price-box">
          <span>Сумма:</span>
          <div class="basket-block__current-price">3404.00 грн</div>
        </div>
      </div>
    </div>
    <div class="basket-block__item">
      <div class="basket-block__delete">x</div>
      <div class="basket-block__image">
        <img src="data/product-item-1.jpg" width="100" height="80" alt="">
      </div>
      <div class="basket-block__info">
        <div class="basket-block__title">
          <a href="#">Очень длинное название товара</a>
        </div>
        <div class="basket-block__article">Синий / 44 / Арт: 23534644</div>
        <div class="basket-block__quantity">
          <span>Кол-во:</span>
          <div class="product-quantity">
            <button class="product-quantity__button product-quantity__minus"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="1" viewBox="0 0 7 1"><rect  class="cls-1" width="7" height="1"/></svg></button>
            <input class="product-quantity__input" type="number" name="product-quantity" value="2" min="0" max="999" readonly>
            <button class="product-quantity__button product-quantity__plus"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7"><path d="M1308,350h7v1h-7v-1Zm3-3h1v7h-1v-7Z" transform="translate(-1308 -347)"/></svg></button>
          </div>
        </div>
        <div class="basket-block__price-box">
          <span>Сумма:</span>
          <div class="basket-block__current-price">3404.00 грн</div>
        </div>
      </div>
    </div>
  </div>
  <div class="basket-block__bottom">
    <div class="basket-block__promocode">
      <div class="basket-block__promocode-title">У меня есть Промо-код</div>
      <form class="basket-block__promocode-form" style="display: none" action="#">
        <div class="form-block">
          <input class="basket-block__promocode-input" type="text" name="promocode" value="" placeholder="Введите промо код">
        </div>
        <button type="submit" class="basket-block__promocode-button">Применить</button>
      </form>
      <div class="basket-block__promocode-result" style="display: none" >Скидка по промокоду: <span>68.00 грн</span></div>
    </div>
    <div class="basket-block__total">Итого: <span>6740.00 грн</span></div>
  </div>
</div>