<div class="popup popup-has-acc">
  <div class="popup__overlay"></div>
  <div class="popup__holder popup__holder--registration-thx">
    <div class="popup__close">x</div>
    <div class="popup__content">
      <div class="popup__title">Lorem ipsum dolor.</div>
      <div class="form-block">
        <input class="main-input" type="text" name="name">
        <label class="form-label">Имя</label>
      </div>
      <div class="form-block">
        <input class="main-input" type="password" name="password">
        <label class="form-label">Пароль</label>
      </div>
      <button type="submit" class="checkout-button">Заказ подтверждаю</button>
    </div>
  </div>
</div>